
h1 {
  text-align: center;
  color: #e65100;
  font-family:'Comicrazy' cursive;
}
h3 {
  text-align: center;
  color: #e65100;
  font-family:
}

.well1 {
  background-color: white;
  border: 0px;
  align-items: center;
}



#background {
  background: url(../img/hero.jpg);
  height:100vh;
  background-position: top left;
  background-size: cover;
  margin: 0px;
  padding:0px;
}
.spacer {
  height:10px;
}
.p {
  text-align: center;
}



.instructions {
  text-align: left;
  margin-left: 10%;
}

.col-md-6 {
  margin-left: 15%;
}
